*{
    background: #EEF9BF;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page-title{
    display: flex;
    justify-content: center;
    color: #75B79E;
    font-size: 56px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-top: 40px;
}

.cards-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 872px;
    margin-top: 47px;
}

.card{
    width: 117px;
    height: 146px;
    margin-right: 34px;
    margin-bottom: 34px;
    position: relative;
}
.face{
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}
.back-face {
    transform: rotateY(180deg);
}
.card .back-face-turned {
    transform: rotateY(0deg);
  }
  /*.card:active .back-face {
    transform: rotateY(0deg);
  }*/

  .card .front-face {
    transform: rotateY(-180deg);
    backface-visibility: visible;
  }

.card img{
    width: 100px;
    height: 100px;
    background: #A7E9AF;
}

@media (max-width: 335px){
    .page-title{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cards-list{
        align-items: center;
        flex-direction: column;

    }
}